# Bytecode and caches
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
.env/

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Tool outputs
music/**

# Misc
*.wav
*.spc
modules/**

# config
fur2amk_config.json

# PyInstaller
build/
dist/
fur2amk_gui_state.json